# Server Configuration
PORT=5000

# Mesh Connect API Configuration
# Get these from: https://dashboard.meshconnect.com/
MESH_CLIENT_ID=c93778fd-9463-40bf-b834-08de239d602b
MESH_CLIENT_SECRET=sk_sand_a11...
MESH_API_URL=https://sandbox-integration-api.meshconnect.com
MESH_INTEGRATION_ID=your_integration_id_here
